body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar-inverse {
    background-color: white;
}

    .navbar-inverse .navbar-nav > li > a {
        color: black;
    }

        .navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
            color: black;
        }

    .navbar-inverse .navbar-nav > li:hover, .navbar-inverse .navbar-nav > li:hover {
        background-color: #ebebeb;
        border-radius: 5px;
        opacity: 0.4;
    }

.navbar-toggle:hover {
    background-color: white;
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: black;
}

.navbar-inverse .navbar-toggle:focus {
    background-color: white;
}

.navbar-inverse .navbar-toggle:hover {
    background-color: #ebebeb;
    opacity: 0.4;
}

.btn-default:hover {
    background-color: #ebebeb;
}

.navbar-header .navbar-brand {
    padding-top: 0px;
    margin-bottom: -12px;
}

.body-content {
    margin-top: 29px;
}

.navbar.navbar-inverse.navbar-fixed-top {
    box-shadow: 0 4px 30px -9px black;
}

ul.nav.navbar-nav {
    margin-right: 97px;
    padding-top: 15px;
}

.jumbotron h1 {
    line-height: 1;
    text-align: center;
}

.jumbotron h2 {
    line-height: 1;
    text-align: center;
}

.col-xs-6.col-lg-4 {
    margin-bottom: 20px;
}

.thumbnail {
    width: 400px;
    height: 300px;
    overflow: hidden;
    position: relative;
}

    .thumbnail img {
        width: 100%;
        height: 100%;
    }

.xam {
    width: 400px;
    height: 300px;
    background: rgba(138, 119, 119, 0.32);
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
    transition: 0.4s;
}

.gradient {
    width: 400px;
    height: 300px;
    background-image: -webkit-linear-gradient(45deg,#d0c973 0%,#6fc0c4 40%,#e6c7c7 100%);
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2;
    opacity: 0.4;
    transition: 0.4s;
}

.hinhvuong {
    width: 80%;
    height: 80%;
    position: absolute;
    z-index: 3;
    top: 10%;
    left: 10%;
    border: 2px solid white;
    transition: 0.4s;
    opacity: 0;
    transform: scale(0);
}

.chuto {
    position: absolute;
    top: 28%;
    left: 45%;
    z-index: 4;
    color: white;
    transition: 0.4s;
    top: 44%;
}

.chunho {
    font-size: 15px;
    position: absolute;
    top: 65%;
    left: 16%;
    color: white;
    z-index: 5;
    width: 70%;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    opacity: 0;
    transform: scale(0);
}

.thumbnail:hover .chuto {
    transform: translateY(-50px);
}

.thumbnail:hover .chunho {
    transform: scale(1);
    opacity: 1;
}

.thumbnail:hover .hinhvuong {
    transform: scale(1);
    opacity: 1;
}

.thumbnail:hover .xam {
    opacity: 0;
}

.thumbnail:hover .gradient {
    opacity: 0.2;
}

.jumbotron {
    background-color: beige;
}

.jumbotron h1, .jumbotron h2 {
    line-height: 1;
    color: burlywood;
    font-family: cursive;
}
a.thumbnail {
    width: 250px;
    height: 200px;
}
.panel-body {
    padding: 7px;
}
.top1, .top2, .top3 {
    width: 231px;
    height: 150px;
    margin-top: -24px;
    margin-bottom: 52px;
}
.top1 .thumbnail, .top2 .thumbnail, .top3 .thumbnail {
    width: 200px;
    height: 150px;
        margin-left: 22px;
}
.top1 h1, .top2 h1, .top3 h1{
    font-size: 17px;
    margin-bottom: 3px;
    color: gold;
    text-align: center;
}
.col-xs-12.col-sm-9 {
    padding: 44px;
}
.row.r {
    border: 1px solid;
    padding-top: 15px;
}
.btn-sm {
    margin-left: 80px;
    margin-top: 7px;
    margin-bottom: -10px;
}
.dropdown-menu {
    background-color: beige;
    top: 106%;
    left: -16px;
    min-width: 305px;
    border: 1px solid azure;
}
.dropdown-menu h2{
    text-align: center;
    margin-top: -5px;
    margin-bottom: 0px;
    border: 1px solid azure;
        color: teal;
}
.dropdown-menu p {
    word-break: break-all;
}